body{
    background-color:rgb(200,200,200);
}
h1 {
    color: rgb(200,150,40);
    background-color: rgb(120,120,120);
    padding:5px;
}
p {
    color:rgb(0,80,255);
}
li {
    color:rgb(0,0,0);
}
#Paragraph1 {
    background-color:rgb(60,60,60);
    padding: 10px;
}
a {
    color:rgb(0,0,0);
}
#selfie01 {
    height:400px;
    padding-top:5px;
    padding-bottom:5px;
}
#dorffertressimage {
    width: 200px;
    border-style:solid;
    border-color:rgb(160,120,0);
    border-width:5px;
}
address {
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:rgb(60,60,0);
    background:-webkit-linear-gradient(left,rgb(60,60,0),rgb(60,60,60));
}
#Backgroundlayer1 {
    background-color: rgb(80,80,80);
    padding:10px;
    margin:2px;
}
.PPs {
    width:150px;
}
#presses {
    text-align: center;
}
.spaceships {
    width: 180px;
    padding-top:5px;
    position:absolute;
}
#ss1 {
}
#ss2 {
    left:334.25px;
    top:365px;
}
#ss3 {
    left:334.25px;
    top:475px;
}
.imageheader {
    width:200px;
}
.image {
    height:100px;
    position:relative;
    bottom:40px;
    left:10px;
}